@model IEnumerable<EmpDeptSys.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        @*     <th>ID</th> *@
            <th>Name</th>
            <th>Phone</th>
            <th>Age</th>
            <th>Image</th>
            <th>Department</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
               @*  <td>@employee.ID</td> *@
                <td>@employee.Name</td>
                <td>@employee.Phone</td>
                <td>@employee.Age</td>
                <td>
                    @if (!string.IsNullOrEmpty(employee.ImagePath))
                    {
                        <img src="@employee.ImagePath" alt="Employee Image" style="max-width: 50px; max-height: 50px;" />
                    }
                </td>
                <td>@employee.Department?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@employee.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@employee.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
